<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav
                class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3" href="index.html">
                        <img src="./images/climate-solutions.png" alt="Climate Solutions"
                            style="height: 40px; margin-right: 10px;">
                        Climate Solutions
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto">
                            <li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="index.html">
                                    <i class="material-symbols-rounded opacity-6 me-2 text-md">home</i>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="syllabus.html">
                                    <i class="material-symbols-rounded opacity-6 me-2 text-md">calendar_month</i>
                                    Syllabus
                                </a>
                            </li>
                            <li class="nav-item dropdown mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-toggle"
                                    href="#" id="guidesDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="material-symbols-rounded opacity-6 me-2 text-md">menu_book</i>
                                    Guides
                                </a>
                                <ul class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg"
                                    aria-labelledby="guidesDropdown">
                                    <li class="nav-item">
                                        <a class="dropdown-item border-radius-md" href="setup.html">
                                            <span class="text-sm">Tech Setup</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item border-radius-md" href="publishing.html">
                                            <span class="text-sm">Publishing</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="policies.html">
                                    <i class="material-symbols-rounded opacity-6 me-2 text-md">policy</i>
                                    Policies
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                                    href="index.html#contact">
                                    <i class="material-symbols-rounded opacity-6 me-2 text-md">mail</i>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar -->